langchain
python-dotenv
ipykernel
langchain-community
pypdf
keras
PyPDF2
tensorflow
xhtml2pdf
Markdown
cassio
bs4
arxiv
transformers
tf-keras
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
crewai[tools]
langchain_chroma
ollama
duckdb
pandas
pysqlite3-binary
openai
langchain-groq
duckduckgo-search
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
crewai
crewai_tools
